@import "../../../Style-config/mixins.scss";
@import "../../../Style-config//Variable.scss";

.arrow-icon{
    width: 21px;
    height: 21px;
    background: $yellow;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px ;
    svg{
        transform: rotate(-45deg)
    }
}    