@import "../../../Style-config/mixins.scss";
@import "../../../Style-config/Variable.scss";


.skill-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color:#292929;
    border-radius: 50%;
    @include md{
        width: 90px;
        height: 90px;
    }
    img{
        width: 34px;
        @include md{
            width: 44px;
        }
    }

}